<wo:VTWrapper>
  <div class="container-fluid">
    <div class="page-header">
      <h4 class="text-primary">
        <span class="fa fa-archive"></span>
        Elenco dei pacchetti</h4>
      <p>Gestisci i pacchetti di documenti</p>
    </div>
    <div class="actions actions-head">
      <wo:link directActionName="addPackage" actionClass="VTAction" class="btn btn-success btn-sm"><span class="fa fa-plus"></span>
        Nuovo pacchetto</wo:link>
    </div>
    <wo:if condition="$displayGroup.allObjects.@count">
      <div class="table-responsive">
        <table class="table table-sm table-striped table-to-filter">
          <caption>Elenco dei pacchetti</caption>
          <thead>
            <tr>
              <th>&nbsp;</th>
              <th>Data creazione</th>
              <th>Nome</th>
              <th>Elementi</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <wo:repeat list="$displayGroup.displayedObjects" item="$currentRecord">
              <tr>
                <td>
                  <wo:link directActionName="editPackage" actionClass="VTAction" class="btn btn-secondary btn-sm" ?id="$currentRecord.primaryKey"><span class="fa fa-pencil"></span>
                    modifica</wo:link>
                </td>
                <td><wo:str value="$currentRecord.dateCreation" dateformat="dd/MM/yyyy" /></td>
                <td><wo:str value="$currentRecord.theName" /></td>
                <td><wo:str value="$currentRecord.theContainers.@count" /></td>
                <td>
                  <wo:link action="$deleteAction" class="btn btn-danger btn-delete btn-sm"><span class="fa fa-trash"></span></wo:link>
                </td>
              </tr>
            </wo:repeat>
          </tbody>
        </table>
      </div>
      <nav><wo:BS3Navigation displayGroup="$displayGroup" /></nav>
    </wo:if>
  </div>
</wo:VTWrapper>