<wo:if condition="$container">
  <wo:form id="selected-record" directActionName="edit" actionClass="VTAction" ?id="$container.primaryKey" ?lang="$languageCode">
    <div class="form-group">
      <div class="input-group">
        <wo:genericElement elementName="input" class="form-control form-control-sm" name="$data.inputNames.title" value="$data.title" placeholder="$placeholderName" />
        <span class="input-group-btn">
          <button type="submit" class="btn btn-primary btn-sm btn-block">
            <span class="fa fa-save"></span>
          </button>
          <wo:link directActionName="delete" class="btn btn-danger btn-sm" ?id="$container.primaryKey" actionClass="VTAction"><span class="fa fa-trash"></span></wo:link>
        </span>
      </div>
    </div>
    <div class="form-group">
      <wo:genericContainer elementName="textarea" class="form-control form-control-sm" name="$data.inputNames.subtitle" placeholder="note"><wo:str value="$data.subtitle" /></wo:genericContainer>
    </div>
    <div>
      <dl>
        <dt>Creato:</dt>
        <dd><wo:str value="$container.theCreationDate" dateformat="dd/MM/yyyy" /></dd>
        <dt>Modificato:</dt>
        <dd><wo:str value="$container.theModificationDate" dateformat="dd/MM/yyyy" /></dd>
        <dt>Dimensione:</dt>
        <dd><wo:str value="$containerSize|formatBytes" /></dd>
        <wo:if condition="$container.isFile">
          <dt>Estensione:</dt>
          <dd><wo:str value="$container|fileExtension(languageCode)" /></dd></wo:if>
      </dl>
    </div>
  </wo:form>
</wo:if>